/* Francesco Filippini */

@import url('global.css');

body > header > h1 {
    background: linear-gradient(to top right, var(--dark-slate-gray-opaque), var(--mahogany-opaque), var(--grape-opaque));
    box-sizing: border-box;
    width: 99%;
    margin: 0.7% 0.5% 2%;
    border-bottom: medium solid;
    color: white;
    text-align: center;
    font-size: 400%;
    padding: 1%;
}

body > footer {
    background: linear-gradient(to top right, var(--dark-slate-gray-opaque), var(--mahogany-opaque), var(--grape-opaque));
    box-sizing: border-box;
    position: fixed;
    padding: 0 10px;
    left: 0;
    bottom: 0;
    width: 99%;
    margin: 2% 0.5% 0.7%;
    border-top: medium solid;
    color: white;
}

/* TODO: cambiare il comportamento del footer quando l'altezza supera il 100% del body */
/* @media screen and (max: 768px) {
    
} */
