/* Francesco Filippini */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/forms.css');

body > nav > ul > li#home {
    background-color: var(--moonstone-opaque);
}

body > main {
    box-sizing: border-box;
}

body > main > section {
    margin-bottom: 2%;
}

body > main > section > header > img, body > main > section > header > h2 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

body > main > section > header > h2 {
    margin: 0 0 0 1%;
}

body > main > section > header > img {
    width: 10%;
}

body > main > section > header > h2 > a {
    font-size: 120%;
    font-weight: bold;
    max-width: 20%;
}

body > main > section:last-child {
    margin-top: 4%;
    border: black medium dotted;
    background-color: var(--reseda-green);
}

body > main > section > p {
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    padding: 0;
}

body > main > section > p:not(:has(small)) {          /* The comment */ /* TODO: controllare se supportato da tutti i browser oppure fare questa cosa con javascript*/
    color: black;
    padding: 8px;
    margin: 8px 8px 2px;
    font-style: normal;
    border: black medium solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body > main > section > p > small {                 /* The paragraph that describes when the comment was posted */
    color: var(--dark-slate-gray-opaque);
    margin: 0 10px;
    font-style: oblique;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FORM */
body > main > section:first-child > form > ul {
    text-align: left;
}
body > main > section:first-child > form > ul > li {
    display: inline;
    margin: 0;
}
body > main > section:first-child > form > ul > li > input {
    width: auto;
}
body > main > section > form > ul > li:not(:last-child) > label {
    display: none;
}
body > main > section > form > ul > li > textarea {
    width: 100%;
    padding: 5px 0;
}
