/* Alessandro Verna */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/formspages.css');

body > nav > ul > li#explore {
    background-color: var(--moonstone-opaque);
}

body > main > article > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > main > article > ul > li {
    box-sizing: border-box;
    display: list-item;
    border: black medium solid;
    margin: 0 0 0.25%;
    padding: 10px 0;
    /* TODO: put font size in percentage, maybe this should be done globally... */
    font-size: 13pt;
    text-align: left;
    color: black;
    background-color: var(--reseda-green);
}

body > main > article > ul > li:first-child {
    margin-top: 1%;
}

body > main > article > ul > li > img {
    margin: 0 2%;
    width: 8%;
}