/* Alessandro Verna */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/forms.css');

body > nav > ul > li#explore {
    background-color: var(--moonstone-opaque);
}

/* FORM */
body > main > section > form {
    text-align: center;
}
body > main > section > form > ul > li {
    display: inline;
}
