/* Alessandro Verna */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/formspages.css');

body > nav > ul > li#explore {
    background-color: var(--moonstone-opaque);
}

body > main > article > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > main > article > ul > li {
    box-sizing: border-box;
    display: list-item;
    border-top: black medium solid;
    border-right: black medium solid;
    border-left: black medium solid;
    padding: 10px 0;
    font-size: 100%;
    background-color: var(--reseda-green);
}

body > main > article > ul > li:last-child {
    border-bottom: black medium solid;
}

body > main > article > ul > li:first-child {
    margin-top: 1%;
}

body > main > article > ul > li > img {
    margin: 0 2%;
    width: 8%;
}