/* Enrico Marchionni */

:root {
    /* white text colors, LOGO */
    --dark-slate-gray: #183A37;
    /* Used also for forms buttons */
    --mahogany: #C44900;
    --grape: #6f0ab3;

    /* black text colors */
    /* HIGHLIGHTED elements */
    --moonstone: #729EA1;
    /* page BACKGROUND */
    --wheat: #EFD6AC;

    /* Visited text */
    --dark-grey: rgb(45, 45, 45);

    /* Used in HEADERS and FOOTERS */
    --dark-slate-gray-opaque: rgba(24, 58, 55, 0.85);
    --wheat-opaque: rgba(239, 214, 172, 0.85);
    --mahogany-opaque: rgba(196, 73, 0, 0.85);
    --moonstone-opaque: rgba(114, 158, 161, 0.85);
    --grape-opaque: rgba(111, 10, 179, 0.85);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    /* TODO: to evaluate if put a margin */
    /* Is important to put margin and padding to 0 to avoid unexpected browser behavior */
    margin: 0;
    padding: 0;
    background-color: var(--wheat);
}
