/* Enrico Marchionni */

:root {
    /* white text colors, LOGO */
    --dark-slate-gray: #183A37;
    --mahogany: #C44900;
    --grape: #6f0ab3;

    /* black text colors */
    /* HIGHLIGHTED elements */
    --moonstone: #729EA1;
    /* page BACKGROUND */
    --wheat: #EFD6AC;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
    background-color: var(--wheat);
}
