/* Francesco Filippini */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/forms.css');
@import url('templates/post.css');
@import url('templates/profile.css');

body > nav > ul > li#home {
    background-color: var(--moonstone-opaque);
}

/* FORM */
body > main > article > footer > form > ul {
    text-align: left;
}
body > main > article > footer > form > ul > li {
    display: inline;
    margin: 0 !important;
}
body > main > article > footer > form > ul > li > input {
    width: auto !important;
}
body > main > article > footer > form > ul > li:not(:last-child) > label {
    display: none;
}
