/* Enrico Marchionni */

@import url('bars.css');
@import url('forms.css');

body > main {
    text-align: center;
}

/* SIGN IN and SIGN UP links */
body > nav > ul {
    list-style: none;
    text-align: right;
    margin: 0.5%;
}
body > nav > ul > li {
    display: inline-block;

    color: black;

    border-radius: 12px;
    border: black medium solid;
    padding: 5px;
    margin: 1px;
}
body > nav > ul > li > a {
    text-decoration: none;
    color: black;
}
body > nav > ul > li > a:visited {
    color: var(--dark-grey);
}

/* LOGO image */
body > main > img {
    display: none;

    box-sizing: border-box;

    vertical-align: top;
    height: 250px;
}

/* FORM */
body > main > form {
    display: inline-block;

    vertical-align: top;

    box-sizing: border-box;
    width: 90%;
    height: 250px;
    padding: 20px 2%;
    margin: 0 5% 5%;
}

/* DESKTOP style */
@media only screen
        and (orientation: landscape)
        and (min-width: 768px) {

    /* LOGO image */
    body > main > img {
        display: inline-block;
    }

    /* FORM */
    body > main > form {
        width: 40%;
    }
}
