/* Alessandro Verna */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/forms.css');

body > nav > ul > li#profile {
    background-color: var(--moonstone-opaque);
}

body > main > section {
    text-align: center;
}

body > main > section > img {
    width: 10%;
}
