/* Francesco Filippini */

@import url('menu.css');

body > nav > ul > li#notifications {
    background-color: var(--moonstone-opaque);
}

body > main > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > main > ul > li {
    box-sizing: border-box;
    display: list-item;
    border: black medium solid;
    margin: 0 0 0.25%;
    padding: 10px 0;
    font-size: 13pt;
    text-align: left;
    font-style: italic;
    color: black;
    background-color: var(--reseda-green);
}

body > main > ul > li:first-child {
    margin-top: 1%;
}
