/* Enrico Marchionni */

@import url('login.css');

body > nav > ul > li#signin {
    font-weight: bold;
    background-color: var(--moonstone-opaque);
    box-shadow: 2px 2px 3px black;
}

body > nav > ul > li#signup {
    border-style: none;
}

body > nav > ul > li#signup > a:hover {
    opacity: 0.8;
    color: var(--grape);
}
