/* Francesco Filippini & Enrico Marchionni */

@import url('global.css');

body > div {
    box-sizing: border-box;
    background-color: var(--wheat);
}

body > header,
body > div > header,
body > footer {
    background: linear-gradient(to top right, var(--dark-slate-gray-opaque), var(--mahogany-opaque), var(--grape-opaque));

    color: white;

    box-sizing: border-box;
    width: 100%;
    padding: 0.5%;
    z-index: 9999;
}

body > header,
body > div > header {
    font-size: x-large;
    margin: 0.5% 0 1% 0;
    padding: 0.5% 0;

    border-bottom: medium solid;
    text-align: center;
}

body > header > h1,
body > div > header > h1,
body > div > header > p {
    padding: 0;
    margin: 0;
}

body > header,
body > div > header > p > a {
    color: white;
}

body > div > header > p > a {
    font-size: medium;
}

body > footer {
    text-align: left;
    border-top: medium solid;
    margin: 1% 0 0 0;
}
