/* Enrico Marchionni & Francesco Filippini */

@import url('global.css');

body > main form {
    display: inline-block;
}

body > main form > h2 {
    text-align: left;
    margin: 0;
}

body > main form > ul {
    list-style: none;
}

body > main form > ul > li {
    padding: 5px;
}

body > main form > ul > li:not(:last-child) {
    width: 80%;
    margin: 0 10%;
    text-align: left;
}

body > main form > ul > li > label {
    display: none;
}

body > main form > ul > li:not(:last-child) > input {
    display: block;
    width: 100%;
}

body > main form > ul > li:last-child {
    text-align: right;
    margin-top: 20px;
}

body > main form > ul > li > input[type="submit"] {
    font-size: 100%;
    padding: 5px 8px;
}

@media only screen
        and (orientation: landscape)
        and (min-width: 768px) {

    body > main form > ul > li:not(:last-child) > input, body > main form > ul > li:not(:last-child) > label {
        display: inline-block;
        width: 45%;
    }
}
