/* Francesco Filippini & Enrico Marchionni */

@import url('global.css');
@import url('maincontent.css');

body > div > nav {
    z-index: 9999;
}

body > div > nav.general_menu {
    text-align: left;
}

body > div > nav > ul {
    list-style: none;
    /* It's important to put margin and padding to 0 to avoid unexpected browser behavior */
    margin: 1% 0;
    padding: 0;
}

body > div > nav.page_menu > ul {
    text-align: center;
}  

body > div > nav.page_menu > ul > li {
    display: inline-block;
    box-sizing: border-box;
    border: black medium solid;
    text-align: center;
    width: 20%;
    background-color: var(--chamoisee-opaque);
}

body > div > nav.page_menu > ul > li:not(:last-child) {
    margin-right: 1%;
}

body > div > nav.page_menu > ul > li > a > img {
    width: 30%;
    height: 30%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

body > div > nav.page_menu > ul > li > a {
    display: block;
    font-size: 110%;
    padding: 5px 0;
}

.menu-text {
    position: absolute;
    left: -9999px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen
        and (orientation: landscape)
        and (min-width: 768px) {

    body > main > article, body > main > section, body > main > ul, body > main > form {
        width: 60%;
        max-width: 60%;
    }

    .menu-text {
        position: static;
        left: 0;
    }

    body > div > nav.page_menu > ul > li {
        display: inline-block;
        box-sizing: border-box;
        border: black medium solid;
        border-radius: 15px;
        box-shadow: 6px 8px 5px black;
        text-align: center;
        width: 20%;
        padding: 5px 0;
    }

    body > div > nav.page_menu {
        position: static;
    }

    body > div > nav.page_menu > ul > li:not(:last-child) {
        margin-right: 2%;
    }

    body > div > nav.page_menu > ul > li > a > img {
        display: none;
    }

    body > div > nav.page_menu > ul > li > a {
        display: inline;
    }
}
