/* Enrico Marchionni & Francesco Filippini */

@import url('global.css');
@import url('headerpost.css');

body > main > article {
    margin-top: 1%;
    margin-bottom: 1%;
}

body > main > article > figure {
    margin: 0;
    padding: 5px;
    text-align: center;
    border: black medium solid;
}

body > main > article > figure > img {
    max-height: 80vh;
    max-width: 100%;
    margin-top: 1%;
}

body > main > article > figure > figcaption {
    font-size: 110%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 10px 0;
}

body > main > article > aside > img {
    max-height: 40px;
    width: 3%;
    border-radius: 60%;
}

body > main > article > aside > img, body > main > article > aside > p:first-of-type {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

body > main > article > aside > p {
    color: black;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    margin: 1% 0;
    padding: 0;
}

body > main > article > aside > p > a {
    text-decoration: none;
}

body > main > article > aside > p > a, body > main > article > aside > p:last-of-type {
    font-style: oblique;
    font-weight: lighter;
    color: var(--dark-slate-gray-opaque);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
}
