/* Francesco Filippini */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/formspages.css');
@import url('templates/headerpost.css');


body > main {
    box-sizing: border-box;
}

body > main > section {
    margin-bottom: 2%;
}

body > main > section > p {
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    padding: 0;
}

body > main > section > p:first-of-type {             /* The comment */
    color: black;
    padding: 8px;
    margin: 8px 8px 2px;
    font-style: normal;
    border: black medium solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body > main > section > p > small {                 /* The paragraph that describes when the comment was posted */
    color: var(--dark-slate-gray-opaque);
    margin: 0 10px;
    font-style: oblique;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body > main > section > footer > button {
    display: inline-block;
    background: none;
    border: none;
}

body > main > section > footer > button > img {
    width: 3em;
    height: 3em;
    vertical-align: bottom;
}

body > main > section:nth-last-child(2) {
    margin-bottom: 15%;
}

body > main > section:last-of-type {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 5%;
    margin: 0;
    padding: 0;
    border: black medium dotted;
    background-color: var(--reseda-green);
    max-height: 30%;
}

body > main > section:last-of-type textarea {
    resize: none;
}


@media only screen
  and (orientation: landscape)
  and (min-width: 768px) {

    body > main > section:last-of-type {
        left: 20%;
    }

}