/* Alessandro Verna */

@import url('templates/global.css');
@import url('templates/bars.css');
@import url('templates/menu.css');
@import url('templates/formspages.css');
@import url('templates/headerpost.css');
@import url('templates/searchbar.css');
@import url('templates/lists.css');
@import url('templates/navexplore.css');


/* FORM */
body > main > section > form > ul > li {
    text-align: center;
    padding: 0;
}

body > main > section > form > ul > li > input[name="search"] {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
